img {
    /*initial style for img*/
    height: 50px;
    /*additional styles*/
    opacity: 0.5;
}

body {
    font-family:'Josefin Sans', sans-serif;
    color: white;
    background-color: darkorange;
    background-image: url('https://cdn.pixabay.com/photo/2018/04/16/12/59/mountains-3324569_1280.jpg');
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

main {
    text-align: right;
}

a {
    color: white;
}

nav {
    /* background-color: black;
    opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.5);
}